.background{
    background-color: #000000;
}

h1, h2, h3, h4, h5, h6 {
    color:white;
    font-family: 'Work Sans', sans-serif;
}

p{
    color: white;
    font-family: 'Lato';
}

a{
    color: white !important;
    text-decoration: none !important;
}

.hero{
    margin-top: 25%;
}


.footer{
    height: 100px;
    position: relative;
    width: 100%;
    background-color: black;
    padding-top: 60px;
    padding-bottom: 90px;
    text-align: center;
    color: white;
    font-size: 10px;
    margin-top: 400px;
}

